.elementor-widget-the7-product-sorting {
    --icon-spacing: 5px;
}

.elementor-widget-the7-product-sorting .the7-wc-catalog-ordering {
    position: relative;
    font-size: var(--the7-base-font-size);
    color: var(--the7-base-color);
}

.elementor-widget-the7-product-sorting .orderby {
    text-overflow: ellipsis;
    transition: color .3s, border-color .3s, background-color .3s;
    height: auto;
    width: 100%;
    margin: 0;
    background-image: none;
    border: solid 0;
    font-size: var(--the7-base-font-size);
    color: var(--the7-base-color);
    padding: var(--orderby-padding, 0px);
}

.elementor-widget-the7-product-sorting select.orderby:focus {
    box-shadow: initial;
    outline: initial;
}

.elementor-widget-the7-product-sorting.icon-align-right .orderby {
    padding-right: calc(var(--icon-size, 1em) + var(--orderby-padding-right, 0px) + var(--icon-spacing, 0px));
    padding-left: var(--orderby-padding-left, 0px);
}

.elementor-widget-the7-product-sorting.icon-align-left .orderby {
    padding-right: var(--orderby-padding-right, 0px);
    padding-left: calc(var(--icon-size, 1em) + var(--orderby-padding-left, 0px) + var(--icon-spacing, 0px));
}

.elementor-widget-the7-product-sorting .orderby-icon,
.elementor-widget-the7-product-sorting svg {
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    position: absolute;
    pointer-events: none;
    border-style: solid;
    border-color: transparent !important;
    transition: color .3s;
    padding: var(--orderby-padding, 0px);
    box-sizing: content-box;
    line-height: var(--the7-base-line-height);
}

.elementor-widget-the7-product-sorting svg {
    width: auto;
    height: 1em;
    transition: fill .3s;
}