.filter-item:before,
.filter-item:after {
  display: block;
  position: absolute;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.58, 0.3, 0.005, 1);
  -o-transition-timing-function: cubic-bezier(0.58, 0.3, 0.005, 1);
  transition-timing-function: cubic-bezier(0.58, 0.3, 0.005, 1);
}
.filter-item:not(:hover):not(:focus):not(.act):not(.highlighted):before,
.filter-item:not(:hover):not(:focus):not(.act):not(.highlighted):after {
  opacity: 0;
}
.filter-item:hover:before,
.filter-item:hover:after,
.filter-item:focus:before,
.filter-item:focus:after,
.filter-item.highlighted:before,
.filter-item.highlighted:after,
.act:before,
.act:after {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
.filter-pointer-double-line .filter-item:before,
.filter-pointer-double-line .filter-item:after,
.filter-pointer-underline .filter-item:before,
.filter-pointer-underline .filter-item:after,
.filter-pointer-overline .filter-item:before,
.filter-pointer-overline .filter-item:after {
  height: 3px;
  width: 100%;
  left: 0;
  background-color: #55595c;
  z-index: 2;
}
.filter-pointer-double-line.filter-animation-grow .filter-item:not(:hover):not(:focus):not(.act):not(.highlighted):before,
.filter-pointer-double-line.filter-animation-grow .filter-item:not(:hover):not(:focus):not(.act):not(.highlighted):after,
.filter-pointer-underline.filter-animation-grow .filter-item:not(:hover):not(:focus):not(.act):not(.highlighted):before,
.filter-pointer-underline.filter-animation-grow .filter-item:not(:hover):not(:focus):not(.act):not(.highlighted):after,
.filter-pointer-overline.filter-animation-grow .filter-item:not(:hover):not(:focus):not(.act):not(.highlighted):before,
.filter-pointer-overline.filter-animation-grow .filter-item:not(:hover):not(:focus):not(.act):not(.highlighted):after {
  height: 0;
  width: 0;
  left: 50%;
}
.filter-pointer-double-line.filter-animation-drop-out .filter-item:not(:hover):not(:focus):not(.act):not(.highlighted):before,
.filter-pointer-underline.filter-animation-drop-out .filter-item:not(:hover):not(:focus):not(.act):not(.highlighted):before,
.filter-pointer-overline.filter-animation-drop-out .filter-item:not(:hover):not(:focus):not(.act):not(.highlighted):before {
  top: 10px;
}
.filter-pointer-double-line.filter-animation-drop-out .filter-item:not(:hover):not(:focus):not(.act):not(.highlighted):after,
.filter-pointer-underline.filter-animation-drop-out .filter-item:not(:hover):not(:focus):not(.act):not(.highlighted):after,
.filter-pointer-overline.filter-animation-drop-out .filter-item:not(:hover):not(:focus):not(.act):not(.highlighted):after {
  bottom: 10px;
}
.filter-pointer-double-line.filter-animation-drop-in .filter-item:not(:hover):not(:focus):not(.act):not(.highlighted):before,
.filter-pointer-underline.filter-animation-drop-in .filter-item:not(:hover):not(:focus):not(.act):not(.highlighted):before,
.filter-pointer-overline.filter-animation-drop-in .filter-item:not(:hover):not(:focus):not(.act):not(.highlighted):before {
  top: -10px;
}
.filter-pointer-double-line.filter-animation-drop-in .filter-item:not(:hover):not(:focus):not(.act):not(.highlighted):after,
.filter-pointer-underline.filter-animation-drop-in .filter-item:not(:hover):not(:focus):not(.act):not(.highlighted):after,
.filter-pointer-overline.filter-animation-drop-in .filter-item:not(:hover):not(:focus):not(.act):not(.highlighted):after {
  bottom: -10px;
}
.filter-pointer-double-line.filter-animation-none,
.filter-pointer-double-line.filter-animation-none .filter-item,
.filter-pointer-underline.filter-animation-none,
.filter-pointer-underline.filter-animation-none .filter-item,
.filter-pointer-overline.filter-animation-none,
.filter-pointer-overline.filter-animation-none .filter-item {
  -webkit-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s;
}
.filter-pointer-double-line.filter-animation-none:before,
.filter-pointer-double-line.filter-animation-none:after,
.filter-pointer-double-line.filter-animation-none:hover,
.filter-pointer-double-line.filter-animation-none:focus,
.filter-pointer-double-line.filter-animation-none .filter-item:before,
.filter-pointer-double-line.filter-animation-none .filter-item:after,
.filter-pointer-double-line.filter-animation-none .filter-item:hover,
.filter-pointer-double-line.filter-animation-none .filter-item:focus,
.filter-pointer-underline.filter-animation-none:before,
.filter-pointer-underline.filter-animation-none:after,
.filter-pointer-underline.filter-animation-none:hover,
.filter-pointer-underline.filter-animation-none:focus,
.filter-pointer-underline.filter-animation-none .filter-item:before,
.filter-pointer-underline.filter-animation-none .filter-item:after,
.filter-pointer-underline.filter-animation-none .filter-item:hover,
.filter-pointer-underline.filter-animation-none .filter-item:focus,
.filter-pointer-overline.filter-animation-none:before,
.filter-pointer-overline.filter-animation-none:after,
.filter-pointer-overline.filter-animation-none:hover,
.filter-pointer-overline.filter-animation-none:focus,
.filter-pointer-overline.filter-animation-none .filter-item:before,
.filter-pointer-overline.filter-animation-none .filter-item:after,
.filter-pointer-overline.filter-animation-none .filter-item:hover,
.filter-pointer-overline.filter-animation-none .filter-item:focus {
  -webkit-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s;
}
.filter-pointer-double-line .filter-item:before,
.filter-pointer-overline .filter-item:before {
  content: '';
  top: 0;
}
.filter-pointer-double-line.filter-animation-slide .filter-item:not(:hover):not(:focus):not(.act):not(.highlighted):before,
.filter-pointer-overline.filter-animation-slide .filter-item:not(:hover):not(:focus):not(.act):not(.highlighted):before {
  width: 10px;
  left: -20px;
}
.filter-pointer-double-line .filter-item:after,
.filter-pointer-underline .filter-item:after {
  content: '';
  bottom: 0;
}
.filter-pointer-double-line.filter-animation-slide .filter-item:not(:hover):not(:focus):not(.act):not(.highlighted):after,
.filter-pointer-underline.filter-animation-slide .filter-item:not(:hover):not(:focus):not(.act):not(.highlighted):after {
  width: 10px;
  left: calc(100% + 20px);
}
.filter-pointer-framed .filter-item:before,
.filter-pointer-framed .filter-item:after {
  background: transparent;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  border: 3px solid #55595c;
}
.filter-pointer-framed .filter-item:before {
  content: '';
}
.filter-pointer-framed.filter-animation-grow .filter-item:not(:hover):not(:focus):not(.act):not(.highlighted):before {
  -webkit-transform: scale(0.75);
  -ms-transform: scale(0.75);
  transform: scale(0.75);
}
.filter-pointer-framed.filter-animation-shrink .filter-item:not(:hover):not(:focus):not(.act):not(.highlighted):before {
  -webkit-transform: scale(1.25);
  -ms-transform: scale(1.25);
  transform: scale(1.25);
}
.filter-pointer-framed.filter-animation-grow .filter-item:before,
.filter-pointer-framed.filter-animation-shrink .filter-item:before {
  -webkit-transition: opacity 0.2s, -webkit-transform 0.4s;
  transition: opacity 0.2s, -webkit-transform 0.4s;
  -o-transition: opacity 0.2s, transform 0.4s;
  transition: opacity 0.2s, transform 0.4s;
  transition: opacity 0.2s, transform 0.4s, -webkit-transform 0.4s;
}
.filter-pointer-framed.filter-animation-draw .filter-item:before,
.filter-pointer-framed.filter-animation-draw .filter-item:after {
  width: 3px;
  height: 3px;
}
.filter-pointer-framed.filter-animation-draw .filter-item:before {
  border-width: 0 0 3px 3px;
  -webkit-transition: width 0.1s 0.2s, height 0.1s 0.3s, opacity 0.12s 0.22s;
  -o-transition: width 0.1s 0.2s, height 0.1s 0.3s, opacity 0.12s 0.22s;
  transition: width 0.1s 0.2s, height 0.1s 0.3s, opacity 0.12s 0.22s;
}
.filter-pointer-framed.filter-animation-draw .filter-item:after {
  content: '';
  top: initial;
  bottom: 0;
  left: initial;
  right: 0;
  border-width: 3px 3px 0 0;
  -webkit-transition: width 0.1s, height 0.1s 0.1s, opacity 0.02s 0.18s;
  -o-transition: width 0.1s, height 0.1s 0.1s, opacity 0.02s 0.18s;
  transition: width 0.1s, height 0.1s 0.1s, opacity 0.02s 0.18s;
}
.filter-pointer-framed.filter-animation-draw .filter-item:hover:before,
.filter-pointer-framed.filter-animation-draw .filter-item:hover:after,
.filter-pointer-framed.filter-animation-draw .filter-item:focus:before,
.filter-pointer-framed.filter-animation-draw .filter-item:focus:after,
.filter-pointer-framed.filter-animation-draw .filter-item.highlighted:before,
.filter-pointer-framed.filter-animation-draw .filter-item.highlighted:after,
.filter-pointer-framed.filter-animation-draw .act:before,
.filter-pointer-framed.filter-animation-draw .act:after {
  width: 100%;
  height: 100%;
}
.filter-pointer-framed.filter-animation-draw .filter-item:hover:before,
.filter-pointer-framed.filter-animation-draw .filter-item:focus:before,
.filter-pointer-framed.filter-animation-draw .filter-item.highlighted:before,
.filter-pointer-framed.filter-animation-draw .act:before {
  -webkit-transition: opacity 0.02s, height 0.1s, width 0.1s 0.1s;
  -o-transition: opacity 0.02s, height 0.1s, width 0.1s 0.1s;
  transition: opacity 0.02s, height 0.1s, width 0.1s 0.1s;
}
.filter-pointer-framed.filter-animation-draw .filter-item:hover:after,
.filter-pointer-framed.filter-animation-draw .filter-item:focus:after,
.filter-pointer-framed.filter-animation-draw .filter-item.highlighted:after,
.filter-pointer-framed.filter-animation-draw .act:after {
  -webkit-transition: opacity 0.02s 0.2s, height 0.1s 0.2s, width 0.1s 0.3s;
  -o-transition: opacity 0.02s 0.2s, height 0.1s 0.2s, width 0.1s 0.3s;
  transition: opacity 0.02s 0.2s, height 0.1s 0.2s, width 0.1s 0.3s;
}
.filter-pointer-framed.filter-animation-corners .filter-item:before,
.filter-pointer-framed.filter-animation-corners .filter-item:after {
  width: 3px;
  height: 3px;
}
.filter-pointer-framed.filter-animation-corners .filter-item:before {
  border-width: 3px 0 0 3px;
}
.filter-pointer-framed.filter-animation-corners .filter-item:after {
  content: '';
  top: initial;
  bottom: 0;
  left: initial;
  right: 0;
  border-width: 0 3px 3px 0;
}
.filter-pointer-framed.filter-animation-corners .filter-item:hover:before,
.filter-pointer-framed.filter-animation-corners .filter-item:hover:after,
.filter-pointer-framed.filter-animation-corners .filter-item:focus:before,
.filter-pointer-framed.filter-animation-corners .filter-item:focus:after,
.filter-pointer-framed.filter-animation-corners .filter-item.highlighted:before,
.filter-pointer-framed.filter-animation-corners .filter-item.highlighted:after,
.filter-pointer-framed.filter-animation-corners .act:before,
.filter-pointer-framed.filter-animation-corners .act:after {
  width: 100%;
  height: 100%;
  -webkit-transition: opacity 0.002s, width 0.4s, height 0.4s;
  -o-transition: opacity 0.002s, width 0.4s, height 0.4s;
  transition: opacity 0.002s, width 0.4s, height 0.4s;
}
.filter-pointer-framed.filter-animation-none,
.filter-pointer-framed.filter-animation-none .filter-item {
  -webkit-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s;
}
.filter-pointer-framed.filter-animation-none:before,
.filter-pointer-framed.filter-animation-none:after,
.filter-pointer-framed.filter-animation-none:hover,
.filter-pointer-framed.filter-animation-none:focus,
.filter-pointer-framed.filter-animation-none .filter-item:before,
.filter-pointer-framed.filter-animation-none .filter-item:after,
.filter-pointer-framed.filter-animation-none .filter-item:hover,
.filter-pointer-framed.filter-animation-none .filter-item:focus {
  -webkit-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s;
}
.filter-pointer-background .filter-item:before,
.filter-pointer-background .filter-item:after {
  content: '';
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.filter-pointer-background .filter-item:before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #55595c;
  z-index: -1;
}
.filter-pointer-background .filter-item:hover,
.filter-pointer-background .filter-item:focus,
.filter-pointer-background .filter-item.highlighted,
.filter-pointer-background .act {
  color: #fff;
}
.filter-pointer-background.filter-animation-grow .filter-item:before {
  -webkit-transform: scale(0.5);
  -ms-transform: scale(0.5);
  transform: scale(0.5);
}
.filter-pointer-background.filter-animation-grow .filter-item:hover:before,
.filter-pointer-background.filter-animation-grow .filter-item:focus:before,
.filter-pointer-background.filter-animation-grow .filter-item.highlighted:before,
.filter-pointer-background.filter-animation-grow .act:before {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}
.filter-pointer-background.filter-animation-shrink .filter-item:not(:hover):not(:focus):not(.act):not(.highlighted):before {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.filter-pointer-background.filter-animation-shrink .filter-item:hover:before,
.filter-pointer-background.filter-animation-shrink .filter-item:focus:before,
.filter-pointer-background.filter-animation-shrink .filter-item.highlighted:before,
.filter-pointer-background.filter-animation-shrink .act:before {
  -webkit-transition: opacity 0.15s, -webkit-transform 0.4s;
  transition: opacity 0.15s, -webkit-transform 0.4s;
  -o-transition: opacity 0.15s, transform 0.4s;
  transition: opacity 0.15s, transform 0.4s;
  transition: opacity 0.15s, transform 0.4s, -webkit-transform 0.4s;
}
.filter-pointer-background.filter-animation-sweep-left .filter-item:not(:hover):not(:focus):not(.act):not(.highlighted):before {
  left: 100%;
}
.filter-pointer-background.filter-animation-sweep-right .filter-item:not(:hover):not(:focus):not(.act):not(.highlighted):before {
  right: 100%;
}
.filter-pointer-background.filter-animation-sweep-up .filter-item:not(:hover):not(:focus):not(.act):not(.highlighted):before {
  top: 100%;
}
.filter-pointer-background.filter-animation-sweep-down .filter-item:not(:hover):not(:focus):not(.act):not(.highlighted):before {
  bottom: 100%;
}
.filter-pointer-background.filter-animation-shutter-out-vertical .filter-item:not(:hover):not(:focus):not(.act):not(.highlighted):before {
  bottom: 50%;
  top: 50%;
}
.filter-pointer-background.filter-animation-shutter-out-horizontal .filter-item:not(:hover):not(:focus):not(.act):not(.highlighted):before {
  right: 50%;
  left: 50%;
}
.filter-pointer-background.filter-animation-shutter-in-vertical .filter-item:after,
.filter-pointer-background.filter-animation-shutter-in-horizontal .filter-item:after {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #55595c;
  z-index: -1;
}
.filter-pointer-background.filter-animation-shutter-in-vertical .filter-item:before {
  top: 0;
  bottom: 100%;
}
.filter-pointer-background.filter-animation-shutter-in-vertical .filter-item:after {
  top: 100%;
  bottom: 0;
}
.filter-pointer-background.filter-animation-shutter-in-vertical .filter-item:hover:before,
.filter-pointer-background.filter-animation-shutter-in-vertical .filter-item:focus:before,
.filter-pointer-background.filter-animation-shutter-in-vertical .filter-item.highlighted:before,
.filter-pointer-background.filter-animation-shutter-in-vertical .act:before {
  bottom: 50%;
}
.filter-pointer-background.filter-animation-shutter-in-vertical .filter-item:hover:after,
.filter-pointer-background.filter-animation-shutter-in-vertical .filter-item:focus:after,
.filter-pointer-background.filter-animation-shutter-in-vertical .filter-item.highlighted:after,
.filter-pointer-background.filter-animation-shutter-in-vertical .act:after {
  top: 50%;
}
.filter-pointer-background.filter-animation-shutter-in-horizontal .filter-item:before {
  right: 0;
  left: 100%;
}
.filter-pointer-background.filter-animation-shutter-in-horizontal .filter-item:after {
  right: 100%;
  left: 0;
}
.filter-pointer-background.filter-animation-shutter-in-horizontal .filter-item:hover:before,
.filter-pointer-background.filter-animation-shutter-in-horizontal .filter-item:focus:before,
.filter-pointer-background.filter-animation-shutter-in-horizontal .filter-item.highlighted:before,
.filter-pointer-background.filter-animation-shutter-in-horizontal .act:before {
  left: 50%;
}
.filter-pointer-background.filter-animation-shutter-in-horizontal .filter-item:hover:after,
.filter-pointer-background.filter-animation-shutter-in-horizontal .filter-item:focus:after,
.filter-pointer-background.filter-animation-shutter-in-horizontal .filter-item.highlighted:after,
.filter-pointer-background.filter-animation-shutter-in-horizontal .act:after {
  right: 50%;
}
.filter-pointer-background.filter-animation-none,
.filter-pointer-background.filter-animation-none .filter-item {
  -webkit-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s;
}
.filter-pointer-background.filter-animation-none:before,
.filter-pointer-background.filter-animation-none:after,
.filter-pointer-background.filter-animation-none:hover,
.filter-pointer-background.filter-animation-none:focus,
.filter-pointer-background.filter-animation-none .filter-item:before,
.filter-pointer-background.filter-animation-none .filter-item:after,
.filter-pointer-background.filter-animation-none .filter-item:hover,
.filter-pointer-background.filter-animation-none .filter-item:focus {
  -webkit-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s;
}
.filter-pointer-text.filter-animation-skew .filter-item:hover,
.filter-pointer-text.filter-animation-skew .filter-item:focus {
  -webkit-transform: skew(-8deg);
  -ms-transform: skew(-8deg);
  transform: skew(-8deg);
}
.filter-pointer-text.filter-animation-grow .filter-item:hover,
.filter-pointer-text.filter-animation-grow .filter-item:focus {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}
.filter-pointer-text.filter-animation-shrink .filter-item:hover,
.filter-pointer-text.filter-animation-shrink .filter-item:focus {
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
}
.filter-pointer-text.filter-animation-float .filter-item:hover,
.filter-pointer-text.filter-animation-float .filter-item:focus {
  -webkit-transform: translateY(-8px);
  -ms-transform: translateY(-8px);
  transform: translateY(-8px);
}
.filter-pointer-text.filter-animation-sink .filter-item:hover,
.filter-pointer-text.filter-animation-sink .filter-item:focus {
  -webkit-transform: translateY(8px);
  -ms-transform: translateY(8px);
  transform: translateY(8px);
}
.filter-pointer-text.filter-animation-rotate .filter-item:hover,
.filter-pointer-text.filter-animation-rotate .filter-item:focus {
  -webkit-transform: rotate(6deg);
  -ms-transform: rotate(6deg);
  transform: rotate(6deg);
}
.filter-pointer-text.filter-animation-none,
.filter-pointer-text.filter-animation-none .filter-item {
  -webkit-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s;
}
.filter-pointer-text.filter-animation-none:before,
.filter-pointer-text.filter-animation-none:after,
.filter-pointer-text.filter-animation-none:hover,
.filter-pointer-text.filter-animation-none:focus,
.filter-pointer-text.filter-animation-none .filter-item:before,
.filter-pointer-text.filter-animation-none .filter-item:after,
.filter-pointer-text.filter-animation-none .filter-item:hover,
.filter-pointer-text.filter-animation-none .filter-item:focus {
  -webkit-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s;
}
.filter-decorations:not(.class-1):not(.class-2):not(.class-3):not(.class-4).filter-pointer-underline a.filter-item:after,
.filter-decorations:not(.class-1):not(.class-2):not(.class-3):not(.class-4).filter-pointer-overline a.filter-item:before,
.filter-decorations:not(.class-1):not(.class-2):not(.class-3):not(.class-4).filter-pointer-double-line a.filter-item:before,
.filter-decorations:not(.class-1):not(.class-2):not(.class-3):not(.class-4).filter-pointer-double-line a.filter-item:after {
  height: var(--filter-pointer-border-width);
}
.filter-decorations:not(.class-1):not(.class-2):not(.class-3):not(.class-4).filter-pointer-background a.filter-item:after,
.filter-decorations:not(.class-1):not(.class-2):not(.class-3):not(.class-4).filter-pointer-background a.filter-item:before {
  border-radius: var(--filter-pointer-bg-radius);
}
.filter-decorations:not(.class-1):not(.class-2):not(.class-3):not(.class-4):not(.filter-pointer-framed) a.filter-item:before,
.filter-decorations:not(.class-1):not(.class-2):not(.class-3):not(.class-4):not(.filter-pointer-framed) a.filter-item:after {
  background: var(--filter-pointer-bg-color-hover);
}
.filter-decorations:not(.class-1):not(.class-2):not(.class-3):not(.class-4):not(.filter-pointer-framed) a.filter-item.act:before,
.filter-decorations:not(.class-1):not(.class-2):not(.class-3):not(.class-4):not(.filter-pointer-framed) a.filter-item.act:after {
  background: var(--filter-pointer-bg-color-active);
}
.filter-decorations:not(.class-1):not(.class-2):not(.class-3):not(.class-4).filter-pointer-framed a.filter-item:before {
  border-color: var(--filter-pointer-bg-color-hover);
  border-width: var(--filter-pointer-border-width);
}
.filter-decorations:not(.class-1):not(.class-2):not(.class-3):not(.class-4).filter-pointer-framed a.filter-item:after {
  border-color: var(--filter-pointer-bg-color-hover);
}
.filter-decorations:not(.class-1):not(.class-2):not(.class-3):not(.class-4).filter-pointer-framed a.filter-item.act:before,
.filter-decorations:not(.class-1):not(.class-2):not(.class-3):not(.class-4).filter-pointer-framed a.filter-item.act:after {
  border-color: var(--filter-pointer-bg-color-active);
}
.filter-decorations:not(.class-1):not(.class-2):not(.class-3):not(.class-4).filter-pointer-framed.filter-animation-draw a.filter-item:before {
  border-width: 0 0 var(--filter-pointer-border-width) var(--filter-pointer-border-width);
}
.filter-decorations:not(.class-1):not(.class-2):not(.class-3):not(.class-4).filter-pointer-framed.filter-animation-draw a.filter-item:after {
  border-width: var(--filter-pointer-border-width) var(--filter-pointer-border-width) 0 0;
}
.filter-decorations:not(.class-1):not(.class-2):not(.class-3):not(.class-4).filter-pointer-framed.filter-animation-corners a.filter-item:before {
  border-width: var(--filter-pointer-border-width) 0 0 var(--filter-pointer-border-width);
}
.filter-decorations:not(.class-1):not(.class-2):not(.class-3):not(.class-4).filter-pointer-framed.filter-animation-corners a.filter-item:after {
  border-width: 0 var(--filter-pointer-border-width) var(--filter-pointer-border-width) 0;
}
.filter-decorations:not(.class-1):not(.class-2):not(.class-3):not(.class-4) a.filter-item {
  color: var(--filter-title-color-normal);
}
.filter-decorations:not(.class-1):not(.class-2):not(.class-3):not(.class-4) a.filter-item:hover {
  color: var(--filter-title-color-hover);
}
.filter-decorations:not(.class-1):not(.class-2):not(.class-3):not(.class-4) a.filter-item.act {
  color: var(--filter-title-color-active);
}
.paginator.filter-decorations:not(.class-1) .dots,
.paginator.filter-decorations:not(.class-1) .nav-next i,
.paginator.filter-decorations:not(.class-1) .nav-prev i {
  color: var(--filter-title-color-normal);
}
.paginator.filter-decorations:not(.class-1) a.button-load-more {
  border: inherit;
  transition: opacity 0.01s ease, color 0.05s ease;
  color: var(--filter-title-color-normal);
}
.paginator.filter-decorations:not(.class-1) a.button-load-more:hover {
  color: var(--filter-title-color-hover);
}
.paginator.filter-decorations:not(.class-1) a.button-load-more * {
  color: inherit;
  transition: inherit;
}
.paginator.filter-decorations:not(.class-1) a.button-load-more .button-caption:before {
  content: "";
  margin: 0;
}
.paginator.filter-decorations:not(.class-1):not(.filter-pointer-framed) a.button-load-more.highlighted:not(:hover):before,
.paginator.filter-decorations:not(.class-1):not(.filter-pointer-framed) a.button-load-more.highlighted:not(:hover):after {
  background: var(--filter-pointer-bg-color-normal);
}
.paginator.filter-decorations:not(.class-1).filter-pointer-framed a.button-load-more.highlighted:not(:hover):before,
.paginator.filter-decorations:not(.class-1).filter-pointer-framed a.button-load-more.highlighted:not(:hover):after {
  border-color: var(--filter-pointer-bg-color-normal);
}
.the7-simple-product-categories.widget-divider-on .wf-cell:before {
  content: "";
  position: absolute;
  top: calc(-1 * (var(--grid-row-gap, 0px) + var(--divider-width, 0px)) / 2);
  left: 0;
  width: 100%;
  border-bottom-width: var(--divider-width, 0px);
  border-bottom-color: var(--the7-divider-color);
}
.the7-simple-product-categories .dt-css-grid .wf-cell {
  position: relative;
  min-width: 0;
  border-color: var(--the7-divider-color);
  transition: all 300ms ease;
  display: flex;
}
.the7-simple-product-categories .dt-css-grid {
  grid-template-rows: auto;
}
.the7-simple-product-categories .rp-heading {
  margin-bottom: 20px;
}
.the7-simple-product-categories .wrapper.post {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  transition: all 300ms ease;
}
.elementor-widget-the7-elements-simple-product-categories {
  --image-spacing: 15px;
  --image-size: 80px;
}
.the7-simple-product-categories .post-thumbnail-wrap {
  display: flex;
  flex-shrink: 0;
  margin: 0 var(--image-spacing) 0 0;
}
.img-align-right .the7-simple-product-categories .post-thumbnail-wrap {
  margin: 0 0 0 var(--image-spacing);
  order: 2;
}
.img-align-top .the7-simple-product-categories .post-thumbnail-wrap {
  flex-direction: column;
  margin: 0 0 var(--image-spacing) 0;
}
.the7-simple-product-categories .post-thumbnail-wrap img {
  max-width: 100%;
  height: auto;
  transition: all 300ms ease;
  border-color: var(--the7-divider-color);
  border-width: 1px;
}
.the7-simple-product-categories .product-thumbnail {
  width: 100%;
}
.the7-simple-product-categories .product-entry-content {
  display: flex;
  flex-flow: column wrap;
  max-width: 100%;
}
.img-align-right .product-entry-content,
.img-align-left .product-entry-content {
  width: calc(100% - var(--image-size) - var(--image-spacing));
}
.the7-simple-product-categories .product-name {
  font-family: var(--the7-h5-font-family);
  font-weight: var(--the7-h5-font-weight);
  font-style: var(--the7-h5-font-style);
  font-size: var(--the7-h5-font-size-desktop);
  line-height: var(--the7-h5-line-height-desktop, 1);
  text-transform: var(--the7-h5-text-transform);
  color: var(--the7-h5-color);
  display: inline-block;
  text-decoration: none;
  transition: all 300ms ease;
  margin-bottom: 0 !important;
}
.the7-simple-product-categories .product-name:hover,
.the7-simple-product-categories a.wf-cell:hover .product-name {
  color: var(--the7-h5-color);
}
.the7-simple-product-categories .short-description {
  font-family: var(--the7-base-font-family);
  font-size: var(--the7-base-font-size);
  font-weight: var(--the7-base-font-weight);
  line-height: var(--the7-base-line-height);
  font-style: var(--the7-base-font-style);
  color: var(--the7-base-color);
  margin-bottom: 0;
  margin-top: 10px;
  transition: all 0.3s ease;
}
.the7-simple-product-categories .product-details:hover,
.the7-simple-product-categories a.wf-cell:hover .product-details {
  color: var(--the7-btn-hover-color);
  border-color: var(--the7-btn-border-hover-color);
  background: var(--the7-btn-hover-bg-color);
}
.the7-simple-product-categories .heading {
  margin-bottom: 0;
  line-height: 0;
  max-width: 100%;
}
.the7-simple-product-categories.title-to-line .product-name {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 100%;
}
.the7-simple-product-categories.desc-to-line .short-description {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 100%;
}
.the7-simple-product-categories .product-entry-content ul li {
  width: 100%;
  padding: 0;
  justify-content: flex-start;
}
.the7-simple-product-categories .product-entry-content ul {
  margin-left: 0;
  margin-right: 0;
}
.elementor-widget:not(.preserve-img-ratio-y) .the7-simple-product-categories .img-ratio-wrapper {
  overflow: hidden;
  width: 100%;
  height: 0;
  position: relative;
  padding-bottom: calc(1 * 100%);
}
.elementor-widget:not(.preserve-img-ratio-y) .the7-simple-product-categories a img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.elementor-widget .the7-simple-product-categories .img-ratio-wrapper.compat-object-fit img {
  display: none;
}
.elementor-widget .the7-simple-product-categories .img-ratio-wrapper.compat-object-fit {
  background-size: cover;
  background-position: center center;
}
.elementor-widget.preserve-img-ratio-y .the7-simple-product-categories .img-ratio-wrapper.compat-object-fit {
  background-size: contain;
  background-repeat: no-repeat;
}
.elementor-widget:not(.preserve-img-ratio-y) .the7-simple-product-categories .img-ratio-wrapper img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.paginator a.button-load-more {
  width: auto;
  height: auto;
}
.paginator a.button-load-more i {
  line-height: inherit;
  font-size: inherit;
}
.paginator .disabled {
  display: none;
}
.elementor-widget.elementor-widget-the7-elements-simple-product-categories .paginator {
  --filter-title-color-normal: var(--the7-title-color);
  --filter-title-color-hover: var(--the7-title-color);
  --filter-title-color-active: var(--the7-title-color);
  --filter-pointer-border-width: 2px;
  --filter-pointer-bg-radius: var(--the7-general-border-radius);
  --filter-pointer-bg-color-active: var(--the7-accent-color);
  --filter-pointer-bg-color-hover: var(--the7-accent-color);
  line-height: var(--the7-text-big-line-height);
  font-size: var(--the7-text-big-font-size);
  font-weight: normal;
  line-height: 1;
}
.elementor-widget.elementor-widget-the7-elements-simple-product-categories .paginator .button-load-more {
  line-height: 1;
}
.elementor-widget.elementor-widget-the7-elements-simple-product-categories .paginator .button-load-more .button-caption {
  font-weight: inherit;
}
.elementor-widget.elementor-widget-the7-elements-simple-product-categories .paginator .button-load-more i:first-child {
  margin: 0 5px 0 0;
}
.elementor-widget.elementor-widget-the7-elements-simple-product-categories .paginator .button-load-more i:last-child {
  margin: 0 0 0 5px;
}
.elementor-widget.elementor-widget-the7-elements-simple-product-categories .paginator a {
  font-weight: normal;
  margin: 0 5px;
  padding: 5px 10px;
}
.the7-simple-product-categories .entry-meta {
  font-family: var(--the7-base-font-family);
  font-size: var(--the7-text-small);
  line-height: var(--the7-text-small-line-height);
  font-weight: var(--the7-base-font-weight);
  font-style: var(--the7-base-font-style);
  margin-top: 5px;
  transition: all 0.3s ease;
}
.icon-box-vertical-align-center .product-entry-content {
  justify-content: center;
}
.icon-box-vertical-align-bottom .product-entry-content {
  justify-content: flex-end;
}
.elementor-widget-the7-elements-simple-product-categories .box-button {
  margin-top: 15px;
}
