.filter-item:before,
.filter-item:after {
  display: block;
  position: absolute;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.58, 0.3, 0.005, 1);
  -o-transition-timing-function: cubic-bezier(0.58, 0.3, 0.005, 1);
  transition-timing-function: cubic-bezier(0.58, 0.3, 0.005, 1);
}
.filter-item:not(:hover):not(:focus):not(.act):not(.highlighted):before,
.filter-item:not(:hover):not(:focus):not(.act):not(.highlighted):after {
  opacity: 0;
}
.filter-item:hover:before,
.filter-item:hover:after,
.filter-item:focus:before,
.filter-item:focus:after,
.filter-item.highlighted:before,
.filter-item.highlighted:after,
.act:before,
.act:after {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
.filter-pointer-double-line .filter-item:before,
.filter-pointer-double-line .filter-item:after,
.filter-pointer-underline .filter-item:before,
.filter-pointer-underline .filter-item:after,
.filter-pointer-overline .filter-item:before,
.filter-pointer-overline .filter-item:after {
  height: 3px;
  width: 100%;
  left: 0;
  background-color: #55595c;
  z-index: 2;
}
.filter-pointer-double-line.filter-animation-grow .filter-item:not(:hover):not(:focus):not(.act):not(.highlighted):before,
.filter-pointer-double-line.filter-animation-grow .filter-item:not(:hover):not(:focus):not(.act):not(.highlighted):after,
.filter-pointer-underline.filter-animation-grow .filter-item:not(:hover):not(:focus):not(.act):not(.highlighted):before,
.filter-pointer-underline.filter-animation-grow .filter-item:not(:hover):not(:focus):not(.act):not(.highlighted):after,
.filter-pointer-overline.filter-animation-grow .filter-item:not(:hover):not(:focus):not(.act):not(.highlighted):before,
.filter-pointer-overline.filter-animation-grow .filter-item:not(:hover):not(:focus):not(.act):not(.highlighted):after {
  height: 0;
  width: 0;
  left: 50%;
}
.filter-pointer-double-line.filter-animation-drop-out .filter-item:not(:hover):not(:focus):not(.act):not(.highlighted):before,
.filter-pointer-underline.filter-animation-drop-out .filter-item:not(:hover):not(:focus):not(.act):not(.highlighted):before,
.filter-pointer-overline.filter-animation-drop-out .filter-item:not(:hover):not(:focus):not(.act):not(.highlighted):before {
  top: 10px;
}
.filter-pointer-double-line.filter-animation-drop-out .filter-item:not(:hover):not(:focus):not(.act):not(.highlighted):after,
.filter-pointer-underline.filter-animation-drop-out .filter-item:not(:hover):not(:focus):not(.act):not(.highlighted):after,
.filter-pointer-overline.filter-animation-drop-out .filter-item:not(:hover):not(:focus):not(.act):not(.highlighted):after {
  bottom: 10px;
}
.filter-pointer-double-line.filter-animation-drop-in .filter-item:not(:hover):not(:focus):not(.act):not(.highlighted):before,
.filter-pointer-underline.filter-animation-drop-in .filter-item:not(:hover):not(:focus):not(.act):not(.highlighted):before,
.filter-pointer-overline.filter-animation-drop-in .filter-item:not(:hover):not(:focus):not(.act):not(.highlighted):before {
  top: -10px;
}
.filter-pointer-double-line.filter-animation-drop-in .filter-item:not(:hover):not(:focus):not(.act):not(.highlighted):after,
.filter-pointer-underline.filter-animation-drop-in .filter-item:not(:hover):not(:focus):not(.act):not(.highlighted):after,
.filter-pointer-overline.filter-animation-drop-in .filter-item:not(:hover):not(:focus):not(.act):not(.highlighted):after {
  bottom: -10px;
}
.filter-pointer-double-line.filter-animation-none,
.filter-pointer-double-line.filter-animation-none .filter-item,
.filter-pointer-underline.filter-animation-none,
.filter-pointer-underline.filter-animation-none .filter-item,
.filter-pointer-overline.filter-animation-none,
.filter-pointer-overline.filter-animation-none .filter-item {
  -webkit-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s;
}
.filter-pointer-double-line.filter-animation-none:before,
.filter-pointer-double-line.filter-animation-none:after,
.filter-pointer-double-line.filter-animation-none:hover,
.filter-pointer-double-line.filter-animation-none:focus,
.filter-pointer-double-line.filter-animation-none .filter-item:before,
.filter-pointer-double-line.filter-animation-none .filter-item:after,
.filter-pointer-double-line.filter-animation-none .filter-item:hover,
.filter-pointer-double-line.filter-animation-none .filter-item:focus,
.filter-pointer-underline.filter-animation-none:before,
.filter-pointer-underline.filter-animation-none:after,
.filter-pointer-underline.filter-animation-none:hover,
.filter-pointer-underline.filter-animation-none:focus,
.filter-pointer-underline.filter-animation-none .filter-item:before,
.filter-pointer-underline.filter-animation-none .filter-item:after,
.filter-pointer-underline.filter-animation-none .filter-item:hover,
.filter-pointer-underline.filter-animation-none .filter-item:focus,
.filter-pointer-overline.filter-animation-none:before,
.filter-pointer-overline.filter-animation-none:after,
.filter-pointer-overline.filter-animation-none:hover,
.filter-pointer-overline.filter-animation-none:focus,
.filter-pointer-overline.filter-animation-none .filter-item:before,
.filter-pointer-overline.filter-animation-none .filter-item:after,
.filter-pointer-overline.filter-animation-none .filter-item:hover,
.filter-pointer-overline.filter-animation-none .filter-item:focus {
  -webkit-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s;
}
.filter-pointer-double-line .filter-item:before,
.filter-pointer-overline .filter-item:before {
  content: '';
  top: 0;
}
.filter-pointer-double-line.filter-animation-slide .filter-item:not(:hover):not(:focus):not(.act):not(.highlighted):before,
.filter-pointer-overline.filter-animation-slide .filter-item:not(:hover):not(:focus):not(.act):not(.highlighted):before {
  width: 10px;
  left: -20px;
}
.filter-pointer-double-line .filter-item:after,
.filter-pointer-underline .filter-item:after {
  content: '';
  bottom: 0;
}
.filter-pointer-double-line.filter-animation-slide .filter-item:not(:hover):not(:focus):not(.act):not(.highlighted):after,
.filter-pointer-underline.filter-animation-slide .filter-item:not(:hover):not(:focus):not(.act):not(.highlighted):after {
  width: 10px;
  left: calc(100% + 20px);
}
.filter-pointer-framed .filter-item:before,
.filter-pointer-framed .filter-item:after {
  background: transparent;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  border: 3px solid #55595c;
}
.filter-pointer-framed .filter-item:before {
  content: '';
}
.filter-pointer-framed.filter-animation-grow .filter-item:not(:hover):not(:focus):not(.act):not(.highlighted):before {
  -webkit-transform: scale(0.75);
  -ms-transform: scale(0.75);
  transform: scale(0.75);
}
.filter-pointer-framed.filter-animation-shrink .filter-item:not(:hover):not(:focus):not(.act):not(.highlighted):before {
  -webkit-transform: scale(1.25);
  -ms-transform: scale(1.25);
  transform: scale(1.25);
}
.filter-pointer-framed.filter-animation-grow .filter-item:before,
.filter-pointer-framed.filter-animation-shrink .filter-item:before {
  -webkit-transition: opacity 0.2s, -webkit-transform 0.4s;
  transition: opacity 0.2s, -webkit-transform 0.4s;
  -o-transition: opacity 0.2s, transform 0.4s;
  transition: opacity 0.2s, transform 0.4s;
  transition: opacity 0.2s, transform 0.4s, -webkit-transform 0.4s;
}
.filter-pointer-framed.filter-animation-draw .filter-item:before,
.filter-pointer-framed.filter-animation-draw .filter-item:after {
  width: 3px;
  height: 3px;
}
.filter-pointer-framed.filter-animation-draw .filter-item:before {
  border-width: 0 0 3px 3px;
  -webkit-transition: width 0.1s 0.2s, height 0.1s 0.3s, opacity 0.12s 0.22s;
  -o-transition: width 0.1s 0.2s, height 0.1s 0.3s, opacity 0.12s 0.22s;
  transition: width 0.1s 0.2s, height 0.1s 0.3s, opacity 0.12s 0.22s;
}
.filter-pointer-framed.filter-animation-draw .filter-item:after {
  content: '';
  top: initial;
  bottom: 0;
  left: initial;
  right: 0;
  border-width: 3px 3px 0 0;
  -webkit-transition: width 0.1s, height 0.1s 0.1s, opacity 0.02s 0.18s;
  -o-transition: width 0.1s, height 0.1s 0.1s, opacity 0.02s 0.18s;
  transition: width 0.1s, height 0.1s 0.1s, opacity 0.02s 0.18s;
}
.filter-pointer-framed.filter-animation-draw .filter-item:hover:before,
.filter-pointer-framed.filter-animation-draw .filter-item:hover:after,
.filter-pointer-framed.filter-animation-draw .filter-item:focus:before,
.filter-pointer-framed.filter-animation-draw .filter-item:focus:after,
.filter-pointer-framed.filter-animation-draw .filter-item.highlighted:before,
.filter-pointer-framed.filter-animation-draw .filter-item.highlighted:after,
.filter-pointer-framed.filter-animation-draw .act:before,
.filter-pointer-framed.filter-animation-draw .act:after {
  width: 100%;
  height: 100%;
}
.filter-pointer-framed.filter-animation-draw .filter-item:hover:before,
.filter-pointer-framed.filter-animation-draw .filter-item:focus:before,
.filter-pointer-framed.filter-animation-draw .filter-item.highlighted:before,
.filter-pointer-framed.filter-animation-draw .act:before {
  -webkit-transition: opacity 0.02s, height 0.1s, width 0.1s 0.1s;
  -o-transition: opacity 0.02s, height 0.1s, width 0.1s 0.1s;
  transition: opacity 0.02s, height 0.1s, width 0.1s 0.1s;
}
.filter-pointer-framed.filter-animation-draw .filter-item:hover:after,
.filter-pointer-framed.filter-animation-draw .filter-item:focus:after,
.filter-pointer-framed.filter-animation-draw .filter-item.highlighted:after,
.filter-pointer-framed.filter-animation-draw .act:after {
  -webkit-transition: opacity 0.02s 0.2s, height 0.1s 0.2s, width 0.1s 0.3s;
  -o-transition: opacity 0.02s 0.2s, height 0.1s 0.2s, width 0.1s 0.3s;
  transition: opacity 0.02s 0.2s, height 0.1s 0.2s, width 0.1s 0.3s;
}
.filter-pointer-framed.filter-animation-corners .filter-item:before,
.filter-pointer-framed.filter-animation-corners .filter-item:after {
  width: 3px;
  height: 3px;
}
.filter-pointer-framed.filter-animation-corners .filter-item:before {
  border-width: 3px 0 0 3px;
}
.filter-pointer-framed.filter-animation-corners .filter-item:after {
  content: '';
  top: initial;
  bottom: 0;
  left: initial;
  right: 0;
  border-width: 0 3px 3px 0;
}
.filter-pointer-framed.filter-animation-corners .filter-item:hover:before,
.filter-pointer-framed.filter-animation-corners .filter-item:hover:after,
.filter-pointer-framed.filter-animation-corners .filter-item:focus:before,
.filter-pointer-framed.filter-animation-corners .filter-item:focus:after,
.filter-pointer-framed.filter-animation-corners .filter-item.highlighted:before,
.filter-pointer-framed.filter-animation-corners .filter-item.highlighted:after,
.filter-pointer-framed.filter-animation-corners .act:before,
.filter-pointer-framed.filter-animation-corners .act:after {
  width: 100%;
  height: 100%;
  -webkit-transition: opacity 0.002s, width 0.4s, height 0.4s;
  -o-transition: opacity 0.002s, width 0.4s, height 0.4s;
  transition: opacity 0.002s, width 0.4s, height 0.4s;
}
.filter-pointer-framed.filter-animation-none,
.filter-pointer-framed.filter-animation-none .filter-item {
  -webkit-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s;
}
.filter-pointer-framed.filter-animation-none:before,
.filter-pointer-framed.filter-animation-none:after,
.filter-pointer-framed.filter-animation-none:hover,
.filter-pointer-framed.filter-animation-none:focus,
.filter-pointer-framed.filter-animation-none .filter-item:before,
.filter-pointer-framed.filter-animation-none .filter-item:after,
.filter-pointer-framed.filter-animation-none .filter-item:hover,
.filter-pointer-framed.filter-animation-none .filter-item:focus {
  -webkit-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s;
}
.filter-pointer-background .filter-item:before,
.filter-pointer-background .filter-item:after {
  content: '';
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.filter-pointer-background .filter-item:before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #55595c;
  z-index: -1;
}
.filter-pointer-background .filter-item:hover,
.filter-pointer-background .filter-item:focus,
.filter-pointer-background .filter-item.highlighted,
.filter-pointer-background .act {
  color: #fff;
}
.filter-pointer-background.filter-animation-grow .filter-item:before {
  -webkit-transform: scale(0.5);
  -ms-transform: scale(0.5);
  transform: scale(0.5);
}
.filter-pointer-background.filter-animation-grow .filter-item:hover:before,
.filter-pointer-background.filter-animation-grow .filter-item:focus:before,
.filter-pointer-background.filter-animation-grow .filter-item.highlighted:before,
.filter-pointer-background.filter-animation-grow .act:before {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}
.filter-pointer-background.filter-animation-shrink .filter-item:not(:hover):not(:focus):not(.act):not(.highlighted):before {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.filter-pointer-background.filter-animation-shrink .filter-item:hover:before,
.filter-pointer-background.filter-animation-shrink .filter-item:focus:before,
.filter-pointer-background.filter-animation-shrink .filter-item.highlighted:before,
.filter-pointer-background.filter-animation-shrink .act:before {
  -webkit-transition: opacity 0.15s, -webkit-transform 0.4s;
  transition: opacity 0.15s, -webkit-transform 0.4s;
  -o-transition: opacity 0.15s, transform 0.4s;
  transition: opacity 0.15s, transform 0.4s;
  transition: opacity 0.15s, transform 0.4s, -webkit-transform 0.4s;
}
.filter-pointer-background.filter-animation-sweep-left .filter-item:not(:hover):not(:focus):not(.act):not(.highlighted):before {
  left: 100%;
}
.filter-pointer-background.filter-animation-sweep-right .filter-item:not(:hover):not(:focus):not(.act):not(.highlighted):before {
  right: 100%;
}
.filter-pointer-background.filter-animation-sweep-up .filter-item:not(:hover):not(:focus):not(.act):not(.highlighted):before {
  top: 100%;
}
.filter-pointer-background.filter-animation-sweep-down .filter-item:not(:hover):not(:focus):not(.act):not(.highlighted):before {
  bottom: 100%;
}
.filter-pointer-background.filter-animation-shutter-out-vertical .filter-item:not(:hover):not(:focus):not(.act):not(.highlighted):before {
  bottom: 50%;
  top: 50%;
}
.filter-pointer-background.filter-animation-shutter-out-horizontal .filter-item:not(:hover):not(:focus):not(.act):not(.highlighted):before {
  right: 50%;
  left: 50%;
}
.filter-pointer-background.filter-animation-shutter-in-vertical .filter-item:after,
.filter-pointer-background.filter-animation-shutter-in-horizontal .filter-item:after {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #55595c;
  z-index: -1;
}
.filter-pointer-background.filter-animation-shutter-in-vertical .filter-item:before {
  top: 0;
  bottom: 100%;
}
.filter-pointer-background.filter-animation-shutter-in-vertical .filter-item:after {
  top: 100%;
  bottom: 0;
}
.filter-pointer-background.filter-animation-shutter-in-vertical .filter-item:hover:before,
.filter-pointer-background.filter-animation-shutter-in-vertical .filter-item:focus:before,
.filter-pointer-background.filter-animation-shutter-in-vertical .filter-item.highlighted:before,
.filter-pointer-background.filter-animation-shutter-in-vertical .act:before {
  bottom: 50%;
}
.filter-pointer-background.filter-animation-shutter-in-vertical .filter-item:hover:after,
.filter-pointer-background.filter-animation-shutter-in-vertical .filter-item:focus:after,
.filter-pointer-background.filter-animation-shutter-in-vertical .filter-item.highlighted:after,
.filter-pointer-background.filter-animation-shutter-in-vertical .act:after {
  top: 50%;
}
.filter-pointer-background.filter-animation-shutter-in-horizontal .filter-item:before {
  right: 0;
  left: 100%;
}
.filter-pointer-background.filter-animation-shutter-in-horizontal .filter-item:after {
  right: 100%;
  left: 0;
}
.filter-pointer-background.filter-animation-shutter-in-horizontal .filter-item:hover:before,
.filter-pointer-background.filter-animation-shutter-in-horizontal .filter-item:focus:before,
.filter-pointer-background.filter-animation-shutter-in-horizontal .filter-item.highlighted:before,
.filter-pointer-background.filter-animation-shutter-in-horizontal .act:before {
  left: 50%;
}
.filter-pointer-background.filter-animation-shutter-in-horizontal .filter-item:hover:after,
.filter-pointer-background.filter-animation-shutter-in-horizontal .filter-item:focus:after,
.filter-pointer-background.filter-animation-shutter-in-horizontal .filter-item.highlighted:after,
.filter-pointer-background.filter-animation-shutter-in-horizontal .act:after {
  right: 50%;
}
.filter-pointer-background.filter-animation-none,
.filter-pointer-background.filter-animation-none .filter-item {
  -webkit-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s;
}
.filter-pointer-background.filter-animation-none:before,
.filter-pointer-background.filter-animation-none:after,
.filter-pointer-background.filter-animation-none:hover,
.filter-pointer-background.filter-animation-none:focus,
.filter-pointer-background.filter-animation-none .filter-item:before,
.filter-pointer-background.filter-animation-none .filter-item:after,
.filter-pointer-background.filter-animation-none .filter-item:hover,
.filter-pointer-background.filter-animation-none .filter-item:focus {
  -webkit-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s;
}
.filter-pointer-text.filter-animation-skew .filter-item:hover,
.filter-pointer-text.filter-animation-skew .filter-item:focus {
  -webkit-transform: skew(-8deg);
  -ms-transform: skew(-8deg);
  transform: skew(-8deg);
}
.filter-pointer-text.filter-animation-grow .filter-item:hover,
.filter-pointer-text.filter-animation-grow .filter-item:focus {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}
.filter-pointer-text.filter-animation-shrink .filter-item:hover,
.filter-pointer-text.filter-animation-shrink .filter-item:focus {
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
}
.filter-pointer-text.filter-animation-float .filter-item:hover,
.filter-pointer-text.filter-animation-float .filter-item:focus {
  -webkit-transform: translateY(-8px);
  -ms-transform: translateY(-8px);
  transform: translateY(-8px);
}
.filter-pointer-text.filter-animation-sink .filter-item:hover,
.filter-pointer-text.filter-animation-sink .filter-item:focus {
  -webkit-transform: translateY(8px);
  -ms-transform: translateY(8px);
  transform: translateY(8px);
}
.filter-pointer-text.filter-animation-rotate .filter-item:hover,
.filter-pointer-text.filter-animation-rotate .filter-item:focus {
  -webkit-transform: rotate(6deg);
  -ms-transform: rotate(6deg);
  transform: rotate(6deg);
}
.filter-pointer-text.filter-animation-none,
.filter-pointer-text.filter-animation-none .filter-item {
  -webkit-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s;
}
.filter-pointer-text.filter-animation-none:before,
.filter-pointer-text.filter-animation-none:after,
.filter-pointer-text.filter-animation-none:hover,
.filter-pointer-text.filter-animation-none:focus,
.filter-pointer-text.filter-animation-none .filter-item:before,
.filter-pointer-text.filter-animation-none .filter-item:after,
.filter-pointer-text.filter-animation-none .filter-item:hover,
.filter-pointer-text.filter-animation-none .filter-item:focus {
  -webkit-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s;
}
.filter-decorations:not(.class-1):not(.class-2):not(.class-3):not(.class-4).filter-pointer-underline a.filter-item:after,
.filter-decorations:not(.class-1):not(.class-2):not(.class-3):not(.class-4).filter-pointer-overline a.filter-item:before,
.filter-decorations:not(.class-1):not(.class-2):not(.class-3):not(.class-4).filter-pointer-double-line a.filter-item:before,
.filter-decorations:not(.class-1):not(.class-2):not(.class-3):not(.class-4).filter-pointer-double-line a.filter-item:after {
  height: var(--filter-pointer-border-width);
}
.filter-decorations:not(.class-1):not(.class-2):not(.class-3):not(.class-4).filter-pointer-background a.filter-item:after,
.filter-decorations:not(.class-1):not(.class-2):not(.class-3):not(.class-4).filter-pointer-background a.filter-item:before {
  border-radius: var(--filter-pointer-bg-radius);
}
.filter-decorations:not(.class-1):not(.class-2):not(.class-3):not(.class-4):not(.filter-pointer-framed) a.filter-item:before,
.filter-decorations:not(.class-1):not(.class-2):not(.class-3):not(.class-4):not(.filter-pointer-framed) a.filter-item:after {
  background: var(--filter-pointer-bg-color-hover);
}
.filter-decorations:not(.class-1):not(.class-2):not(.class-3):not(.class-4):not(.filter-pointer-framed) a.filter-item.act:before,
.filter-decorations:not(.class-1):not(.class-2):not(.class-3):not(.class-4):not(.filter-pointer-framed) a.filter-item.act:after {
  background: var(--filter-pointer-bg-color-active);
}
.filter-decorations:not(.class-1):not(.class-2):not(.class-3):not(.class-4).filter-pointer-framed a.filter-item:before {
  border-color: var(--filter-pointer-bg-color-hover);
  border-width: var(--filter-pointer-border-width);
}
.filter-decorations:not(.class-1):not(.class-2):not(.class-3):not(.class-4).filter-pointer-framed a.filter-item:after {
  border-color: var(--filter-pointer-bg-color-hover);
}
.filter-decorations:not(.class-1):not(.class-2):not(.class-3):not(.class-4).filter-pointer-framed a.filter-item.act:before,
.filter-decorations:not(.class-1):not(.class-2):not(.class-3):not(.class-4).filter-pointer-framed a.filter-item.act:after {
  border-color: var(--filter-pointer-bg-color-active);
}
.filter-decorations:not(.class-1):not(.class-2):not(.class-3):not(.class-4).filter-pointer-framed.filter-animation-draw a.filter-item:before {
  border-width: 0 0 var(--filter-pointer-border-width) var(--filter-pointer-border-width);
}
.filter-decorations:not(.class-1):not(.class-2):not(.class-3):not(.class-4).filter-pointer-framed.filter-animation-draw a.filter-item:after {
  border-width: var(--filter-pointer-border-width) var(--filter-pointer-border-width) 0 0;
}
.filter-decorations:not(.class-1):not(.class-2):not(.class-3):not(.class-4).filter-pointer-framed.filter-animation-corners a.filter-item:before {
  border-width: var(--filter-pointer-border-width) 0 0 var(--filter-pointer-border-width);
}
.filter-decorations:not(.class-1):not(.class-2):not(.class-3):not(.class-4).filter-pointer-framed.filter-animation-corners a.filter-item:after {
  border-width: 0 var(--filter-pointer-border-width) var(--filter-pointer-border-width) 0;
}
.filter-decorations:not(.class-1):not(.class-2):not(.class-3):not(.class-4) a.filter-item {
  color: var(--filter-title-color-normal);
}
.filter-decorations:not(.class-1):not(.class-2):not(.class-3):not(.class-4) a.filter-item:hover {
  color: var(--filter-title-color-hover);
}
.filter-decorations:not(.class-1):not(.class-2):not(.class-3):not(.class-4) a.filter-item.act {
  color: var(--filter-title-color-active);
}
.paginator.filter-decorations:not(.class-1) .dots,
.paginator.filter-decorations:not(.class-1) .nav-next i,
.paginator.filter-decorations:not(.class-1) .nav-prev i {
  color: var(--filter-title-color-normal);
}
.paginator.filter-decorations:not(.class-1) a.button-load-more {
  border: inherit;
  transition: opacity 0.01s ease, color 0.05s ease;
  color: var(--filter-title-color-normal);
}
.paginator.filter-decorations:not(.class-1) a.button-load-more:hover {
  color: var(--filter-title-color-hover);
}
.paginator.filter-decorations:not(.class-1) a.button-load-more * {
  color: inherit;
  transition: inherit;
}
.paginator.filter-decorations:not(.class-1) a.button-load-more .button-caption:before {
  content: "";
  margin: 0;
}
.paginator.filter-decorations:not(.class-1):not(.filter-pointer-framed) a.button-load-more.highlighted:not(:hover):before,
.paginator.filter-decorations:not(.class-1):not(.filter-pointer-framed) a.button-load-more.highlighted:not(:hover):after {
  background: var(--filter-pointer-bg-color-normal);
}
.paginator.filter-decorations:not(.class-1).filter-pointer-framed a.button-load-more.highlighted:not(:hover):before,
.paginator.filter-decorations:not(.class-1).filter-pointer-framed a.button-load-more.highlighted:not(:hover):after {
  border-color: var(--filter-pointer-bg-color-normal);
}
.elementor-widget.elementor-widget-the7-wc-products,
.elementor-widget.elementor-widget-the7-wc-products-carousel {
  --icon-v-offset: 10px;
  --icon-h-offset: 10px;
  --image-button-background-size: 30px;
}
.elementor-widget.elementor-widget-the7-wc-products .onsale,
.elementor-widget.elementor-widget-the7-wc-products-carousel .onsale {
  margin: 10px;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
}
.elementor-widget.elementor-widget-the7-wc-products.onsale-h-position-center .onsale,
.elementor-widget.elementor-widget-the7-wc-products-carousel.onsale-h-position-center .onsale {
  margin-left: 0;
  margin-right: 0;
}
.elementor-widget.elementor-widget-the7-wc-products.onsale-v-position-center .onsale,
.elementor-widget.elementor-widget-the7-wc-products-carousel.onsale-v-position-center .onsale {
  margin-top: 0;
  margin-bottom: 0;
}
.elementor-widget.elementor-widget-the7-wc-products .woocom-project,
.elementor-widget.elementor-widget-the7-wc-products-carousel .woocom-project {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
}
.elementor-widget.elementor-widget-the7-wc-products .woocom-list-content,
.elementor-widget.elementor-widget-the7-wc-products-carousel .woocom-list-content {
  width: 100%;
}
.elementor-widget.elementor-widget-the7-wc-products .woocom-list-content .woo-buttons i,
.elementor-widget.elementor-widget-the7-wc-products-carousel .woocom-list-content .woo-buttons i {
  vertical-align: middle;
}
.elementor-widget.elementor-widget-the7-wc-products .box-button,
.elementor-widget.elementor-widget-the7-wc-products-carousel .box-button {
  margin-top: 15px;
}
.elementor-widget.elementor-widget-the7-wc-products .product h4,
.elementor-widget.elementor-widget-the7-wc-products-carousel .product h4,
.elementor-widget.elementor-widget-the7-wc-products .price,
.elementor-widget.elementor-widget-the7-wc-products-carousel .price,
.elementor-widget.elementor-widget-the7-wc-products .woocommerce-product-details__short-description,
.elementor-widget.elementor-widget-the7-wc-products-carousel .woocommerce-product-details__short-description,
.elementor-widget.elementor-widget-the7-wc-products .woo-buttons,
.elementor-widget.elementor-widget-the7-wc-products-carousel .woo-buttons {
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}
.elementor-widget.elementor-widget-the7-wc-products .woo-buttons a,
.elementor-widget.elementor-widget-the7-wc-products-carousel .woo-buttons a {
  text-align: left;
  white-space: normal;
}
.elementor-widget.elementor-widget-the7-wc-products .product-title,
.elementor-widget.elementor-widget-the7-wc-products-carousel .product-title {
  margin: 15px 0 0 0;
  font-family: var(--the7-woo-title-font-family);
  font-weight: var(--the7-woo-title-font-weight);
  font-style: var(--the7-woo-title-font-style);
  font-size: var(--the7-woo-title-font-size);
  line-height: var(--the7-woo-title-line-height);
  text-transform: var(--the7-woo-title-text-transform);
}
.elementor-widget.elementor-widget-the7-wc-products .product-title a,
.elementor-widget.elementor-widget-the7-wc-products-carousel .product-title a,
.elementor-widget.elementor-widget-the7-wc-products .wf-cell .price,
.elementor-widget.elementor-widget-the7-wc-products-carousel .wf-cell .price {
  transition: all 0.3s;
}
.elementor-widget.elementor-widget-the7-wc-products .woocommerce-product-details__short-description,
.elementor-widget.elementor-widget-the7-wc-products-carousel .woocommerce-product-details__short-description {
  margin-top: 10px;
}
.elementor-widget.elementor-widget-the7-wc-products .wf-cell .price,
.elementor-widget.elementor-widget-the7-wc-products-carousel .wf-cell .price {
  display: block;
  margin-top: 5px;
  margin-bottom: 0 !important;
}
.elementor-widget.elementor-widget-the7-wc-products .wf-cell .price,
.elementor-widget.elementor-widget-the7-wc-products-carousel .wf-cell .price {
  font-family: var(--the7-woo-content-font-family);
  font-size: var(--the7-woo-content-font-size-desktop);
  color: var(--the7-title-color);
  text-transform: none;
}
.elementor-widget.elementor-widget-the7-wc-products .wf-cell .price del,
.elementor-widget.elementor-widget-the7-wc-products-carousel .wf-cell .price del,
.elementor-widget.elementor-widget-the7-wc-products .wf-cell .price del span,
.elementor-widget.elementor-widget-the7-wc-products-carousel .wf-cell .price del span {
  color: var(--the7-secondary-text-color);
  font-family: var(--the7-woo-content-font-family);
}
.elementor-widget.elementor-widget-the7-wc-products .star-rating-wrap,
.elementor-widget.elementor-widget-the7-wc-products-carousel .star-rating-wrap {
  margin-top: 5px;
  line-height: 0;
}
.elementor-widget.elementor-widget-the7-wc-products .star-rating,
.elementor-widget.elementor-widget-the7-wc-products-carousel .star-rating {
  float: none;
  width: initial;
  height: initial;
  display: inline-block;
  margin: 0 !important;
}
.elementor-widget.elementor-widget-the7-wc-products .star-rating:before,
.elementor-widget.elementor-widget-the7-wc-products-carousel .star-rating:before {
  color: var(--the7-divider-color);
  float: none;
  position: initial;
}
.elementor-widget.elementor-widget-the7-wc-products .star-rating span:before,
.elementor-widget.elementor-widget-the7-wc-products-carousel .star-rating span:before {
  color: var(--the7-accent-color);
}
.elementor-widget.elementor-widget-the7-wc-products .woo-buttons-on-img,
.elementor-widget.elementor-widget-the7-wc-products-carousel .woo-buttons-on-img {
  overflow: visible;
}
.elementor-widget.elementor-widget-the7-wc-products .woo-buttons-on-img .filter-popup,
.elementor-widget.elementor-widget-the7-wc-products-carousel .woo-buttons-on-img .filter-popup {
  padding: 0 10px 0 10px;
}
.elementor-widget.elementor-widget-the7-wc-products .wc-img-hover img.back-image,
.elementor-widget.elementor-widget-the7-wc-products-carousel .wc-img-hover img.back-image {
  transform: initial;
}
.elementor-widget.elementor-widget-the7-wc-products:not(.preserve-img-ratio-y) .wc-img-hover img.back-image,
.elementor-widget.elementor-widget-the7-wc-products-carousel:not(.preserve-img-ratio-y) .wc-img-hover img.back-image {
  max-width: unset;
  max-height: unset;
}
.elementor-widget.elementor-widget-the7-wc-products.preserve-img-ratio-y .wc-img-hover img.back-image,
.elementor-widget.elementor-widget-the7-wc-products-carousel.preserve-img-ratio-y .wc-img-hover img.back-image {
  transform: translate(-50%, -50%);
}
.elementor-widget.elementor-widget-the7-wc-products .woo-buttons-on-img:hover .img-wrap:after,
.elementor-widget.elementor-widget-the7-wc-products-carousel .woo-buttons-on-img:hover .img-wrap:after {
  opacity: 1;
}
.elementor-widget.elementor-widget-the7-wc-products .woo-buttons-on-img:hover .img-wrap:before,
.elementor-widget.elementor-widget-the7-wc-products-carousel .woo-buttons-on-img:hover .img-wrap:before {
  opacity: 0;
}
.elementor-widget.elementor-widget-the7-wc-products .img-wrap,
.elementor-widget.elementor-widget-the7-wc-products-carousel .img-wrap {
  position: relative;
}
.elementor-widget.elementor-widget-the7-wc-products .img-border,
.elementor-widget.elementor-widget-the7-wc-products-carousel .img-border {
  overflow: hidden;
  border-color: var(--the7-divider-color);
  transition: border-color 0.3s;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
}
.elementor-widget.elementor-widget-the7-wc-products.icon-position-top .woo-buttons-on-img .woo-buttons,
.elementor-widget.elementor-widget-the7-wc-products-carousel.icon-position-top .woo-buttons-on-img .woo-buttons {
  top: var(--icon-v-offset);
  bottom: unset;
}
.elementor-widget.elementor-widget-the7-wc-products.icon-position-bottom .woo-buttons-on-img .woo-buttons,
.elementor-widget.elementor-widget-the7-wc-products-carousel.icon-position-bottom .woo-buttons-on-img .woo-buttons {
  top: unset;
  bottom: var(--icon-v-offset);
}
.elementor-widget.elementor-widget-the7-wc-products.icon-position-right .woo-buttons-on-img .woo-buttons,
.elementor-widget.elementor-widget-the7-wc-products-carousel.icon-position-right .woo-buttons-on-img .woo-buttons {
  left: unset;
  right: var(--icon-h-offset);
}
.elementor-widget.elementor-widget-the7-wc-products.icon-position-left .woo-buttons-on-img .woo-buttons,
.elementor-widget.elementor-widget-the7-wc-products-carousel.icon-position-left .woo-buttons-on-img .woo-buttons {
  left: var(--icon-h-offset);
  right: unset;
}
.elementor-widget.elementor-widget-the7-wc-products .woo-buttons-on-img .woo-buttons,
.elementor-widget.elementor-widget-the7-wc-products-carousel .woo-buttons-on-img .woo-buttons {
  min-width: var(--image-button-background-size);
  height: var(--image-button-background-size);
  border-radius: 100px;
}
.elementor-widget.elementor-widget-the7-wc-products .woo-buttons-on-img .woo-buttons a,
.elementor-widget.elementor-widget-the7-wc-products-carousel .woo-buttons-on-img .woo-buttons a {
  background: var(--the7-accent-color);
  max-width: var(--image-button-background-size);
  height: var(--image-button-background-size);
  padding: 0 var(--image-button-background-size) 0 0;
  border-radius: 100px;
  line-height: 0;
  white-space: nowrap;
}
.elementor-widget.elementor-widget-the7-wc-products .woo-buttons-on-img .woo-buttons i,
.elementor-widget.elementor-widget-the7-wc-products-carousel .woo-buttons-on-img .woo-buttons i {
  height: var(--image-button-background-size);
  width: var(--image-button-background-size);
  background: var(--the7-accent-color);
  border-radius: 100px;
  text-align: center;
  transition: background 0.3s ease-in-out;
}
.elementor-widget.elementor-widget-the7-wc-products .woo-buttons-on-img .woo-buttons i:before,
.elementor-widget.elementor-widget-the7-wc-products-carousel .woo-buttons-on-img .woo-buttons i:before {
  line-height: var(--image-button-background-size);
}
.mobile-false .elementor-widget.elementor-widget-the7-wc-products .woo-buttons-on-img .woo-buttons:hover a,
.mobile-false .elementor-widget.elementor-widget-the7-wc-products-carousel .woo-buttons-on-img .woo-buttons:hover a {
  max-width: 100%;
}
.mobile-false .elementor-widget.elementor-widget-the7-wc-products .woo-buttons-on-img .woo-buttons:hover a .filter-popup,
.mobile-false .elementor-widget.elementor-widget-the7-wc-products-carousel .woo-buttons-on-img .woo-buttons:hover a .filter-popup {
  visibility: visible;
}
.elementor-widget.elementor-widget-the7-wc-products .woo-buttons-on-img .woo-buttons .filter-popup,
.elementor-widget.elementor-widget-the7-wc-products-carousel .woo-buttons-on-img .woo-buttons .filter-popup {
  display: none;
  vertical-align: middle;
  line-height: var(--image-button-background-size);
  visibility: hidden;
  margin: 0;
}
.elementor-widget.elementor-widget-the7-wc-products.icon-position-left .woo-buttons-on-img .woo-buttons a,
.elementor-widget.elementor-widget-the7-wc-products-carousel.icon-position-left .woo-buttons-on-img .woo-buttons a {
  padding: 0 0 0 var(--image-button-background-size);
}
.elementor-widget.elementor-widget-the7-wc-products .woo-buttons,
.elementor-widget.elementor-widget-the7-wc-products-carousel .woo-buttons {
  z-index: 102;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
}
.elementor-widget.elementor-widget-the7-wc-products .filter,
.elementor-widget.elementor-widget-the7-wc-products-carousel .filter {
  --filter-title-color-normal: var(--the7-title-color);
  --filter-title-color-hover: var(--the7-title-color);
  --filter-title-color-active: var(--the7-title-color);
  --filter-pointer-border-width: var(--the7-filter-pointer-border-width);
  --filter-pointer-bg-radius: var(--the7-filter-pointer-bg-radius);
  --filter-pointer-bg-color-active: var(--the7-accent-color);
  --filter-pointer-bg-color-hover: var(--the7-accent-color);
  line-height: 1;
}
.elementor-widget.elementor-widget-the7-wc-products .filter.filter-without-decoration,
.elementor-widget.elementor-widget-the7-wc-products-carousel .filter.filter-without-decoration {
  --filter-title-color-hover: var(--the7-accent-color);
  --filter-title-color-active: var(--the7-accent-color);
}
.elementor-widget.elementor-widget-the7-wc-products .filter.filter-bg-decoration,
.elementor-widget.elementor-widget-the7-wc-products-carousel .filter.filter-bg-decoration {
  --filter-title-color-hover: var(--the7-accent-color);
  --filter-title-color-active: #fff;
}
.elementor-widget.elementor-widget-the7-wc-products .filter.filter-bg-decoration .filter-categories a.act,
.elementor-widget.elementor-widget-the7-wc-products-carousel .filter.filter-bg-decoration .filter-categories a.act {
  background: var(--filter-pointer-bg-color-active);
}
.elementor-widget.elementor-widget-the7-wc-products .filter.filter-underline-decoration,
.elementor-widget.elementor-widget-the7-wc-products-carousel .filter.filter-underline-decoration {
  --filter-title-color-hover: var(--the7-title-color);
  --filter-title-color-active: var(--the7-title-color);
  --filter-pointer-bg-color-hover: var(--the7-accent-color);
}
.accent-gradient .elementor-widget.elementor-widget-the7-wc-products .filter.filter-bg-decoration .filter-categories a:not(.act):hover,
.accent-gradient .elementor-widget.elementor-widget-the7-wc-products-carousel .filter.filter-bg-decoration .filter-categories a:not(.act):hover {
  --filter-title-color-hover: transparent;
  background: var(--filter-pointer-bg-color-hover);
  -webkit-background-clip: text;
}
.accent-gradient .elementor-widget.elementor-widget-the7-wc-products .filter.filter-without-decoration .filter-categories a:hover,
.accent-gradient .elementor-widget.elementor-widget-the7-wc-products-carousel .filter.filter-without-decoration .filter-categories a:hover {
  background: var(--filter-pointer-bg-color-hover);
  -webkit-background-clip: text;
}
.accent-gradient .elementor-widget.elementor-widget-the7-wc-products .filter.filter-without-decoration .filter-categories a.act,
.accent-gradient .elementor-widget.elementor-widget-the7-wc-products-carousel .filter.filter-without-decoration .filter-categories a.act {
  background: var(--filter-pointer-bg-color-active);
  -webkit-background-clip: text;
}
.elementor-widget.elementor-widget-the7-wc-products .paginator,
.elementor-widget.elementor-widget-the7-wc-products-carousel .paginator {
  --filter-title-color-normal: var(--the7-title-color);
  --filter-title-color-hover: var(--the7-title-color);
  --filter-title-color-active: var(--the7-title-color);
  --filter-pointer-border-width: 2px;
  --filter-pointer-bg-radius: var(--the7-general-border-radius);
  --filter-pointer-bg-color-active: var(--the7-accent-color);
  --filter-pointer-bg-color-hover: var(--the7-accent-color);
  line-height: var(--the7-text-big-line-height);
  font-size: var(--the7-text-big-font-size);
  font-weight: normal;
  line-height: 1;
}
.elementor-widget.elementor-widget-the7-wc-products .paginator .button-load-more,
.elementor-widget.elementor-widget-the7-wc-products-carousel .paginator .button-load-more {
  line-height: 1;
}
.elementor-widget.elementor-widget-the7-wc-products .paginator .button-load-more .button-caption,
.elementor-widget.elementor-widget-the7-wc-products-carousel .paginator .button-load-more .button-caption {
  font-weight: inherit;
}
.elementor-widget.elementor-widget-the7-wc-products .paginator .button-load-more i:first-child,
.elementor-widget.elementor-widget-the7-wc-products-carousel .paginator .button-load-more i:first-child {
  margin: 0 5px 0 0;
}
.elementor-widget.elementor-widget-the7-wc-products .paginator .button-load-more i:last-child,
.elementor-widget.elementor-widget-the7-wc-products-carousel .paginator .button-load-more i:last-child {
  margin: 0 0 0 5px;
}
.elementor-widget.elementor-widget-the7-wc-products .paginator a,
.elementor-widget.elementor-widget-the7-wc-products-carousel .paginator a {
  font-weight: normal;
  margin: 0 5px;
  padding: 5px 10px;
}
